.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 4rem;
  border: 1px solid #dadee0;
  background-color: white;
}
.link_wraper {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  margin-left: 2.5rem;
}
.selected {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  margin-left: 2.5rem;
  border-bottom: 0.15rem solid #263238;
}
.link {
  font-size: 17px;
  font-weight: 500;
  color: #555657;
}
